* {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 1, 43, 1) 0%,
    rgba(61, 21, 144, 1) 0%,
    rgba(70, 9, 121, 0.9822522759103641) 48%,
    rgba(101, 0, 248, 0.9766500350140056) 100%,
    rgba(0, 59, 255, 1) 100%
  );
  
}

.use{
  background: rgba(255, 255, 255, 0.175);
}